footer {
	width: 100%;
	font-size: 0.8em;
  transition: transform 0.6s ease;
}

//GENERAL CONTAINER
.inside-container {
	display: flex;
	max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  flex-flow: column;

  @include media($media-desktop-small) {
  	flex-flow: row;
    padding: 5em 0;
  }
}

//PRE-FOOTER AYUDA
.pre-footer-ayuda {
	
	h3, 
	p, 
	i{
    color: $gris-medio;
  }

	width: 100%;
  background-color: darken($gris-claro, 5%);
  color: white;
	width: 100%;
	
	.inside-container {
    padding: 3em 0;
  }

	.ayuda-footer-s {
    width: 100%;
    justify-content: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    margin-bottom: 0;
    border-bottom: solid 1px lighten($gris-medio, 8%);
		&:last-child {
			border: none;
		}
  	&:first-child {
  		margin-bottom: 4em;
  	}
  	p {
  		max-width: 420px;
  	}

		#icon-ayuda {
			flex: 0 0 10%;
	    font-size: 5em;
	    margin:2rem 1rem;
		}

		@include media($media-desktop-small) {
			border-bottom: none;
		}

  }
	
}

//PRINCIPAL FOOTER
.principal-footer-menus {
	background-color: darken($gris-oscuro, 5%);
	width: 100%;
	height: 100%;
	display: block; 
	box-sizing: border-box;
}

.footer-section {
	display: flex;
	width: 100%;
  flex-direction: column;
  justify-content: center;
	border-left: none;
	margin-left: auto;
  margin-right: auto;
  text-align: center;
	border-bottom: solid 1px $gris-medio;
	&:last-child {
		border-bottom: none;
	}
  button {
    @include media ($tablet) {
      display: none;
    } 
    text-transform: uppercase;
    border: none;
    padding: 1.5em;
    color: lighten($gris-claro, 3%);
    background-color: transparent;
    &:hover {
      color: white;
    }
  }
  h3 {
    display: none;
    @include media ($tablet) {
      display: block;
    }
  }
  i {
		color: white;
	}
	li {
  	list-style: none;
  	padding: 0.6em;
  }
  a {
  	text-decoration: none;
  	list-style: none;
  	font-family: "Noto Sans", Helvetica, Arial, sans-serif;
  	color: $gris-claro;
  	&:hover {
  		color: white;
  	}
  }


	.menu-informate,
	.menu-participa,
	.menu-apoya,
  .menu-contacto{
    background-color: transparent;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
    @include media ($tablet) {
      max-height: 100%;
    }
    ul {
			padding: 0;
      li {
        &:last-child {
          padding-bottom: 1.5em;
        }
      }
		}
    p {
      &:last-child {
        padding-bottom: 1.5em;
      }
    }
		a {
			color: lighter($gris-claro, 5%);
		}
		a:hover {
			color: white;
		}
	}
  .menu-contacto {
    display: flex;
    flex-direction: column;
    p {
      a {
        display: flex;
        flex-direction: column;
      }
    }
  }

	@include media($media-desktop-small) {
		border-bottom: none;
	  border-left: solid 1px darken($gris-medio, 7%);
	  height: 300px;
	  &:last-child {
  		border-right: solid 1px darken($gris-medio, 7%);
  	}
	}

}

//SUB-FOOTER COPYRIGHT
.sub-footer-copyright {
	background-color: white;
  border-bottom: 5px solid $verde-claro;
  color: $gris-oscuro;
  text-align: center;
  padding-top: 2em;
	
  li {
    margin: 1em auto;
    &:first-child {
    }
  }
  a {
    color: $gris-oscuro;
    &:hover {
      text-decoration: underline;
    }
  }
  i {
    color: red;
    margin: 0 0.3em;
  }

  .logo-footer {
		padding-top: 1.5em;
    height: 120px;
  }

}
  
.copyright {
  .license {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 650px;
    margin: auto;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid $gris-oscuro;
    p {
      text-align: left;
      flex-basis: 77%;
      margin-left: 3%;
    }
    .license-img {
			flex-basis: 20%;
      img {
      	padding: 1em 0em;
        width: 100%;
      }
    }
  }
}