.contact-page {
	display: flex;
	transition: all 1.5s ease;
	width: 100%;
	height: 800px;
	flex-direction: column;
	@include media($mobile) {
		flex-direction: column;
		height: 500px;
  }
	@include media($tablet) {
		flex-direction: row;
		height: 550px;
  }
	
.content-info {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	@include media($tablet) {
		align-items: left;
		top: 500px;
	}
}
	.info-contact {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: auto;
		padding: 4em 0;
		@include media($mobile) {
			flex-direction: row;
			justify-content: space-around;
			font-size: 13px;
			width: 90%;
		}
		@include media($tablet) {
			flex-direction: column;
			margin-top: 10px;
			width: 400px;
			left: 600px;
	  }

		p {
			display: flex;
		}
		a {
			display: flex;
			align-items: center;
			flex: 80%;
			color: $gris-medio;
			text-decoration: none;
		}
		i {
			display: flex;
			flex: 20%;
			padding: 0.5em;
	    align-items: center;
		  justify-content: center;
		  font-size: 25px;
			color: $verde-claro;
		}
	}
}
.title-info-contact {
	display: flex;
	transition: all 1.5s ease;
	flex-direction: column;
	position: absolute;
	filter: opacity(0);
	z-index: 10;
	top: 250px;
	left: 0.5em;
	@include media($tablet) {
  	left: 5em;
  }
	
	h3 {
		margin: 0;
		padding: 0;
	}
	h4 {
		margin: 0;
		padding: 0;
		font-weight: 300;
	}
}
.content-form {
	width: 100%;
	display: flex;
	z-index: 15;
	align-items: center;
	justify-content: center;
	@include media($tablet) {
		justify-content: left;
	}
}
.form-contact-page {
	display: flex;
	transition: all 1.5s ease;
	flex-direction: column;
	padding: 2em;
	z-index: 20;
  background-color: white;
  box-shadow: 0 0 30px #888888;
	width: 95%;
	margin-top: 5em;
	#text-area {
		display: flex;
		flex-direction: column;
		@include media($mobile) {
			flex-direction: row;
		}
	}
	@include media($mobile) {
		margin-top: 2em;
		width: 90%;
	}
  @include media ($tablet) {
  	width: 500px;
  	margin-top: 1em;
    margin-left: 5em;
    #text-area {
			display: flex;
			flex-direction: column;
		}
  }

	.identity-area-contact {
		display: flex;
		flex-direction: column;
		width: 100%;
		padding: 0.5em;
		@include media($mobile) {
			width: 50%;
		}
		@include media($tablet) {
			width: 100%;
		}
		input {
			color: $gris-medio;
			display: flex;
			margin: 0.5em 0;
			border: solid 2px darken($gris-claro, 15%);
			min-height: 35px;
			height: 50%;
			font-weight: 300;
			@include media($tablet) {
				height: 35px;	
			}
		}
	}
	.message-area-contact {
		display: flex;
		padding: 0.5em;
		flex-direction: row;
		width: 100%;
		@include media($mobile) {
			width: 50%;
		}
		@include media($tablet) {
			width: 100%;
		}
		textarea {
			display: flex;
			flex-direction: row;
			color: $gris-medio;
			width: 100%;
			border: solid 2px darken($gris-claro, 15%);
			height: 150px;
			font-weight: 300;
    	@include media($tablet) {
    		height: 200px;
    	}
		} 
	}
	.button-area-contact {
		display: flex;
		flex-direction: row-reverse;
		margin: 0.5em;
		button {
			color: white;
			padding: 0.3em 1.5em;
			background-color: $verde-claro;
			text-decoration: none;
		}
	}
}

.contact-page-show {
	height: 600px;
	flex-direction: column;
	@include media($mobile) {
		height: 400px;
  }
	@include media($tablet) {
		flex-direction: row;
		height: 350px;
  }

  .form-contact-page {
  	@include media ($tablet) {
	  	width: 500px;
	    margin-top: -10em;
	  }
  }
  
}

.form-contact-page-show {
	margin-top: -5em;
	@include media ($tablet) {
		margin-top: 1em;
	}
	
}

.show-complete {
	filter: opacity(1);
}

