.home-page {
  transition: all .6s ease;
}
.size-small {
  display: flex;
  min-height: 300px;
  width: 100%;
  padding: 1em;
  .container {
    display: flex;
    padding: 0;
    .middle {
      display: flex;
      flex: auto;
    }
  }
  .middle {
    display: flex;
    flex: auto;
  }
}

.size-medium {
  display: flex;
  max-width: 100%;
  min-height: 500px;
  padding: 2em 0;
}

.size-full {
  display: flex;
  @include media($tablet) {
    height: 100vh;
  }    
  min-height: 720px;
  width: 100%;
  padding: 0 1em;
}

.section{
  display: flex;
  align-items: center;
}
.mask {
  display: flex;
  padding: 2em 0;
}
.container {
  display: flex;
  padding: 2em;
  min-height: inherit;
  flex-direction: column;
  #post-title {
    display: flex;
    font-weight: 400;
  }
  #post-text {
    display: flex;
    font-weight: 300;
  }
  #post-button {
    display: flex;
    color: white;
    padding: 0.5em 1em;
    display: table;
    text-decoration: none;
    letter-spacing: 0.05em;
    font-weight: 400;
    margin-top: 1em;
    padding: 0.5em 2em;
  }
  @include media ($tablet) {
    padding: 2em 10em;
    flex-direction: row;
  }
}
.text_color-black {
  color: black;
}
.text_color-white {
  color: white;
}
.container-image {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    height: auto;
    max-height: 100%;
    width: max-content;
    max-width: 100%;
  }
}
.container-text {
  display: flex;
  flex-direction: column;
  font-size: 0.8em;
  @include media($mobile) {
    font-size: 0.9em;
  }
  @include media($tablet) {
    font-size: 1em;
  }
}
.circle-image {
  display: flex;
  img {
    border-radius: 50%;
  }
}
.middle {
  display: flex;
  @include media($tablet) {
    flex: 50%;
  }
}
.unique {
  display: flex;
  width: 75%;
  justify-content: center;
}
.unique-container {
  display: flex;
  justify-content: center;
}
.alignment-left {
  display: flex;
  flex-direction: column;
  @include media ($tablet) {
    flex-direction: row;
  }
}
.alignment-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .container-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  @include media ($tablet) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
.alignment-right {
  display: flex;
  justify-content: right;
  flex-direction: column-reverse;
  @include media ($tablet) {
    display: flex;
    flex-direction: row-reverse;
  }
}


//--------------CARDS-----------------//

.cards-section {
  display: flex;
  justify-content: center;
}
.container-cards {
  display: flex;
  padding: 5em 0;
  flex-direction: column;
  justify-content: center;
  flex-flow: row wrap;
  @include media($tablet) {
    flex-direction: row;
  }
}
.card-content {
  max-height: 500px;
  width: 47%;
  @include media(1038px) {
    width: 240px;
  }
  min-width: 240px;
  margin: 0.5em;
  display: flex;
  padding: 1em;
  flex-direction: column;
  border-radius: 15px;
}
.card-image {
  img {
    display: block;
    max-width: 50%;
    max-height: 25%;
    margin: auto;
  }
}
.card-text {
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  font-weight: 300;
  #post-title {
    font-size: 1.2em;
    text-transform: uppercase;
  }
  #card-button {
    color: white;
    display: block;
    line-height: 1.5em;
    margin: 0 auto 2em auto;
    padding: 0.5em 1em;
    text-decoration: none;
    width: 70%;
  }
}

//-------------Carrousel--------------//
.carrousel {
  display: flex;
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden;
}
.swiper-wrapper {
  display: flex;
}
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: auto;
  background-atachment: static;
  @include media ($mobile) {
    background-attachment: static;
    min-width: 100%;
  } 
  @include media ($tablet) {
    background-attachment: initial;
    min-width: auto;
  }
}
.swiper-button-prev {
  display: flex;
  color: white;
  font-size: 45px;
  position: absolute;
  justify-content: center;
  align-items: center;
  height: 100%;
  left: 1em;
  &:hover {
    color: white;
  }
}
.swiper-button-next {
  display: flex;
  color: white;
  font-size: 45px;
  position: absolute;
  justify-content: center;
  align-items: center;
  height: 100%;
  right: 1em;
  &:hover {
    color: white;
  }
}
.swiper-button-disabled {
  color: rgba(255, 255, 255, 0.35);
}
