body {
	overflow-x: hidden;
}

.slow-body {
	touch-action: none;
	overflow: hidden;
  transform: translate(300px, 0px);
  transition: transform 0.6s ease;

  @include media ($tablet) {
  	transform: translate(0px, 0px);
  }
}

.site-main {
	display: flex;
	padding: 0;
	justify-content: center;
	transition: all 0.6s ease;

  @include media($media-desktop-small) {
		max-width: 1024px;
	  margin-left: auto;
	  margin-right: auto;
	  padding: 2em 0;
	}

	 h2 {
	 	color: $gris-medio;
	 }
	 h2:hover {
	 	text-decoration: underline;
	 }
}

.entry-content {
	display: flex;
	padding-top: 0;
	justify-content: flex-start;
	align-content: flex-start;
	flex-wrap: wrap;
}

.post-navigation {
	display: flex;
	justify-content: center;
	nav {
		width: max-content;

		.nav-links {
			display: flex;
    	justify-content: center;
		}
	}
	a {
		width: 40px;
    height: 40px;
    margin: 10px;
    display: flex;
		color: purple;
		font-weight: 300;
		align-items: center;
		padding: 0.4em 0.8em;
		text-decoration: none;
		justify-content: center;
		border: solid 1px purple;
		background-color: transparent;
		transition: background-color 0.2s linear;	
		&:hover,
		&:active {
			background-color: purple;
			color: white;
		}
	}
	span {
		width: 40px;
    height: 40px;
    margin: 10px;
		color: white;
    display: flex;
    font-weight: 300;
    align-items: center;
    text-decoration: none;
    justify-content: center;
		border: solid 1px purple;
		background-color: purple;
	}
}

