.footer-post-xp-single {
	background-color: transparent;
	border-top: solid 1px darken($gris-claro, 15%);
	justify-content: space-between;
	span {
		font-size: 14px;
		font-weight: 300;
		color: darken($gris-claro, 25%);
	}
	.xp-author-date {
	  display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 7px 0;
	}
}

.single-post-xp {
	padding-top: 0;
	margin-top: 0;

	blockquote {
		border-left: solid 5px $gris-claro;
		color: darken(blue, 15%);
		padding-left: 10px;
		font-style: oblique;
		font-size: 20px;
		font-weight: 100;
		font-family: $titular;
	}
}

.single-xp {
	display: flex;
	flex-direction: column;
	padding: 0 0.5em;
	article {
		max-width: 666px;
	}
}

.single-content {
	display: flex;
	justify-content: center;
}