.contenido_enfer_rara {

#descripcion-patologia {
	font-size: 14px;
	font-weight: 300;
	text-align: justify;
	h2 {
		color: #8b189b;
		text-decoration: none;
	}
}

#causas {
	display: flex;
	flex-wrap: wrap;
	padding: 1em 0;
	
	#title {
		width: 100%;
		color: #8b189b;
		text-align: left;
		padding: 0 0.5em;
		text-decoration: none;
		border-bottom: 1px solid $gris-claro;
	}

	#texto {
		display: flex;
		flex-direction: column;
		width: 70%;
		padding: 10px;
		#titulo {
			margin: 0;
		}
		#titulo {
			color: $gris-medio;
			text-decoration: none;
		}
		#descripcion {
			text-align: justify;
			font-weight: 300;
			font-size: 12px;
		}
	}
	#imagen {
		width: 30%;
		height: 100%;
	}

}

#sintomas {
	display: flex;
	flex-wrap: wrap;
	padding: 1em 0;
	
	#title {
		width: 100%;
		color: #8b189b;
		text-decoration: none;
		text-align: right;
		padding: 0 0.5em;
		border-bottom: 1px solid $gris-claro;
	}

	#texto {
		display: flex;
		flex-direction: column;
		width: 70%;
		padding: 10px;
		#titulo {
			margin: 0;
		}
		#descripcion {
			margin: 0;
			text-align: justify;
			font-weight: 300;
			font-size: 12px;
		}
	}
	#imagen {
		width: 30%;
		height: 100%;
	}

}

#tratamiento {
	display: flex;
	flex-wrap: wrap;
	padding: 1em 0;
	
	#title {
		width: 100%;
		color: #8b189b;
		text-decoration: none;
		text-align: left;
		padding: 0 0.5em;
		border-bottom: 1px solid $gris-claro;
	}

	#texto {
		display: flex;
		flex-direction: column;
		width: 70%;
		padding: 10px;
		#titulo {
			margin: 0;
		}
		#descripcion {
			text-align: justify;
			font-weight: 300;
			font-size: 12px;
		}
	}
	#imagen {
		width: 30%;
		height: 100%;
	}

}

#patologias {
	display: flex;
	flex-wrap: wrap;
	padding: 1em 0;
	
	#title {
		width: 100%;
		color: #8b189b;
		text-decoration: none;
		text-align: right;
		padding: 0 0.5em;
		border-bottom: 1px solid $gris-claro;
	}

	#texto {
		display: flex;
		flex-direction: column;
		width: 70%;
		padding: 10px;
		#titulo {
			margin: 0;
		}
		#patologias {
			margin: 0;
			text-align: justify;
			font-weight: 300;
			font-size: 12px;
		}
		#tipos {
			margin: 0;
			text-align: justify;
			font-weight: 300;
			font-size: 12px;
		}
	}
	#imagen {
		width: 30%;
		height: 100%;
	}

}


}