.informative-page-block {
display: flex;
padding: 3em 0;

.block-align-left {
	display: flex;
	flex-direction: row;
	.button-area {
		justify-content: left;
	}
}
.block-align-right {
	display: flex;
	flex-direction: column;
	.button-area {
		justify-content: center;
	}
	@include media($tablet) {
		flex-direction: row-reverse;
		.button-area {
			justify-content: flex-end;
		}
	}
}

.content-area {
	display: flex;
	flex-wrap: wrap;

	#title-area {
		display: flex;
		width: 100%;
		h2 {
			width: 100%;
			text-align: center;
			@include media($tablet) {
				width: 50%;
				text-align: left;
			}
			text-decoration: none;
		}
	}
	
	#text-area {
		width: 100%;
		@include media($tablet) {
			width: 50%;
		}
		p {
			font-weight: 300;
			text-align: center;
			@include media($tablet) {
				text-align: left;
			}
		}
	}

	#quote-area {
		display: flex;
		align-items: center;
		margin: 1em;
		padding: 1em;
		border: 1px solid $verde-claro;
		p {
			text-align: center;
			font-weight: 200;
		}
	}

	#image-area {
		display: flex;
		margin: auto;
		justify-content: center;
		align-items: center;
		width: 50%;
		height: auto;
		img {
			display: flex;
			width: 80%;
			height: auto;
		}
	}
	
	.button-area {
		display: flex;
		width: 100%;
		flex-direction: row;
		a {
			margin: 1em;
			text-decoration: none;
			padding: 0.3em 2em;
		}
	}

}

}