/**
 *
 * Copyright (c) 2017-07-17 Rodrigo Gabriel - @rodra.gt
 * Licensed under the GPLv2+ license.
 */
.all-content {
  transition: all .6s ease;
}

 .toggle-off {
    background-color: $gris-oscuro;
    color: white;
  }

.menu-toggle {
  text-transform: uppercase;
  border: 2px solid $gris-oscuro;
  border-radius: 3px;
  transition: background-color 0.3s;
}

.navbar-menu {
  color: transparent;
  display: flex;
	min-height: 65px;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  width: 100%;
  z-index: 9999;
  flex-flow: row-reverse;
  background-color: $gris-claro;
  box-shadow: 0 0px 10px rgba($gris-oscuro, 0.75);
  transition: all 0.6s ease;

  @include media(1025px) {
    box-shadow: none;
    flex-flow: row;
    width: auto;
    padding: 1em 5em;
  }
}

.site-title {
	margin: 0;
	padding: 0;
	font-size: 1.6em;
	font-weight: 900;
	line-height: 1em;
}

.site-branding__text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 65px;
}

.navbar-animated {
  background-color: transparent;
  font-family: $titular;
  flex-direction: row-reverse;
  justify-content: space-between;
  display: flex;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 99999;
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
  @include media (1024px) {
    background-color: $gris-claro;
    flex-direction: row;
  }
}

.hidden {
  z-index: 3;
  -webkit-transform: translateY(-110%);
  -ms-transform: translateY(-110%);
  -o-transform: translateY(-110%);
  transform: translateY(-110%);
  transition: all .6s ease;

  .site-navigation {
    display: none;
  }
}

.menu-mobile-active {
  transform: translate(-300px,0);
  width: 300px;
  z-index: 0;
  background-color: darken($gris-claro, 10%);
  box-shadow: inset -5px 0px 10px rgba($gris-oscuro, 0.2);
  bottom: 0;
  height: 100%;
  margin-top: 70px;
  overflow-y: auto;
  position: fixed;
  text-align: center;
  top: 0;
  transition: transform 0.6s ease;
  ul {
    padding: 0;
    margin: 0;
  }
  li {
    border-bottom: 1px solid $gris-oscuro;
    text-transform: uppercase;
    font-weight: $bold;
  }
  a {
    color: $gris-medio;
    display: block;
    padding: 1em 1em;
    text-decoration: none;
    font-weight: $regular;
    transition: color 0.2s ease;
  }
  .nav-second {
      margin: 0;
      display: none;
      i {
        display: none;
      }
      li {
        border: none;
        background-color: $gris-medio;
        border-bottom: 1px solid lighten($gris-medio, 20%);
      }
      a {
        color: $gris-claro;
        &:active {
          background-color: darken($gris-medio, 10%);
        }
      }
  }
  .nav-second-active {
    display: block;
  }
  .nav-second>li{
    text-transform: capitalize;
    font-weight: $regular;
  }
  .nav-donar {
    background-color: lighten($naranja, 5%);
    a {
      color: white;
    }
    &:active {
      background-color: darken($naranja, 3%);
    }
  }
}