// ***********************************
// VARIABLES
// ***********************************

// LAYOUT
$container: 1024px;

// BREAKPOINTS
$desktop: 1280px;
$tablet: 1024px;
$mobile: 640px;

// COLOR
$carbon: #242424;
$gris-oscuro: #414141;
$gris-medio: lighten($gris-oscuro, 20%);
$gris-claro: #e5e5e4;
$rojo: #db1634;

// PALETA DE COLORES APT
$naranja: #ff6a00;
$verde-claro: #77bb1f;
$verde-oscuro: #0d9e49;
$morado: #8b189b;
$celeste: #08A7E8;


// TYPOGRAPHY
$main-font-size: 16px;
$titular: 'Montserrat', Helvetica, Arial, sans-serif;
$parrafo: 'Noto Sans', Helvetica, Arial, sans-serif;
$bold: 700;
$regular: 400;
