@font-face {
    font-family: 'icons';
    src:    url('../fonts/icons.eot?r7q1jn');
    src:    url('../fonts/icons.eot?r7q1jn#iefix') format('embedded-opentype'),
        url('../fonts/icons.ttf?r7q1jn') format('truetype'),
        url('../fonts/icons.woff?r7q1jn') format('woff'),
        url('../fonts/icons.svg?r7q1jn#icons') format('svg');
    font-weight: normal;
    font-style: normal;
}
i {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icons' !important;
    speak: none;
    font-style: normal!important;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;


    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.i-piggy:before {
    content: "\e9da";
}
.i-cash:before {
    content: "\e9dd";
}
.i-bandage:before {
    content: "\ea72";
}
.i-apple:before {
    content: "\eaa4";
}
.i-newspaper:before {
    content: "\e906";
}
.i-store:before {
    content: "\e9cd";
}
.i-calendar:before {
  content: "\ea0f";
}
.i-stethoscope:before {
  content: "\ea70";
}
.i-heart:before {
  content: "\eb3f";
}
.i-arrow-up:before {
  content: "\ebb9";
}
.i-arrow-right:before {
  content: "\ebba";
}
.i-arrow-down:before {
  content: "\ebbb";
}
.i-arrow-left:before {
  content: "\ebbc";
}
.i-book2:before {
  content: "\e977";
}
.i-library:before {
  content: "\e979";
}
.i-lifebuoy:before {
  content: "\e9e2";
}
.i-phone:before {
  content: "\e9e3";
}
.i-envelop:before {
  content: "\e9f0";
}
.i-location:before {
  content: "\e9f4";
}
.i-user:before {
  content: "\ea43";
}
.i-search:before {
  content: "\ea5a";
}
