#que-son-las-er {

	.bloque {
		padding: 3em 0;
		#contenido {
			width: 50%;
			color: black;
			font-weight: 300;
		}
		#secundario {
			width: 50%;
			float: left;
		}
	}


	.titulo {
		color: #8b189b;
		font-weight: 400;
		&:hover {
			color: #8b189b;
			text-decoration: none;
		}
	}
	#principal {
		font-size: 26px;
		font-weight: 900;
	}


	.uno {
		display: flex;
		justify-content: flex-end;
		#principal {
			justify-content: flex-start;
		}
		#contenido {
			justify-content: flex-end;
		}
	}


	.dos {
		padding: 3em 0;
		#imagen-genetica {
			float: right;
			width: 480px;
			height: auto;
			img {
				width: 100%;
				height: auto;
			}
		}
		#contenido {
			justify-content: flex-end;
		}
		#frase {
			width: 50%;
			font-style: italic;
	    text-align: center;
			border: solid 1px #77bb1f;
			padding: 1.5em;
			margin: 3em 0;
			font-weight: 400;
		}
	}

	.cuatro {
		#contenido {
			float: right;
			width: 48%;
		}
		#imagen-factores {
			float: left;
			img {
				padding: 0.5em;
			}
		}
	}

}