/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
.sub-menu {
  display: none;
  }

@media screen and (max-width: $tablet) {
  .sub-menu-active {
    display: block;
    transition: all 0.6s ease;
  }
  .navbar-links {
    width: 100%;
    transition: all 0.6s ease;
    height: max-content;
    overflow-y: overlay;
    transition: all 0.6s ease;
  }
  .menu {
    padding: 0;
  }
  .menu-principal-navbar-container {
    display: flex;
    height: max-content;
    margin-top: 115px;
  }

  .site-navigation {
    @include media (tablet) {
      transition: all 0.6s ease;
      display: none;
      transform: translate(-300px, 0px);
    }
    transition: all 0.6s ease;
    display: flex;
    z-index: -1;
    position: absolute;
    overflow: hidden;
    left: 0;
    flex-direction: column;
    flex-grow: 1;
    width: 300px;
    background-color: darken($gris-claro, 10%);
    top: 0;
    bottom: 0;
    height: 4000px;
    min-height: 100%;
    margin: 0;
    transform: translate(-300px, 0);

    a {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    .menu-item {
        ul {
          margin: 0;
          padding: 0;
        }
        li {
          display: flex;
          border-bottom: solid 1px $gris-medio;
          background-color: lighten($gris-medio, 10%);
          &:last-child {
            border: none;
          }
        }
        li a, 
        li a:hover {
          display: flex;
          font-weight: 300;
          color: lighten($gris-claro, 10%);
          text-decoration: none;
          padding: 1em 0;
          justify-content: center;
        }
      }

  }

  #primary-menu {
    background-color: darken($gris-claro, 10%);
    width: 100%;
      li {
        display: flex;
        flex-direction: column;
      }
      a {
        padding: 1em;
        align-items: center;
        display: flex;
        text-align: center;
        border-bottom: solid 1px $gris-medio;
      }
    }

  .active-navbar {
    transition: all 0.6s ease;
    transform: translate(0, 0);
  }

}
@include media(1025px) {

  .site-navigation {
    background-color: $gris-claro;
    box-shadow: none;
    margin: 0;
    overflow: visible;
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    transform: translate(0, 0);
    flex-direction: column;
    justify-content: center;
  }

  .site-navigation ul {
  	list-style: none;
  	margin: 0;
  	padding-left: 0;
    list-style: none;
  }

  .site-navigation li {
    border-bottom: none;
    padding-left: 1em;
    &:last-child {
      padding-right: 4em; 
    }
  }

  .site-navigation a {
  	display: block;
  	text-decoration: none;
  }

  .site-navigation ul ul {
    background-color: rgba($gris-claro, 0.97);
    display: flex;
    flex-direction: column;
  	position: absolute;
    margin-top: 40px;
    padding-top: 1.5em;
  	top: 25%;
  	left: -999em;
  	z-index: 99999;
    ul:active {
      padding-bottom: 1em;
      a {
        color: $gris-medio;
        &:active {
          background-color: transparent;
        }
      }
    }
  }

  .site-navigation ul ul ul {
  	left: -999em;
  	top: 0;
  }

  .site-navigation ul ul a {
  	width: 200px;
  }

  .site-navigation ul ul li {
    background-color: transparent;
    text-align: left;
    text-transform: capitalize;
    border-bottom: solid 1px darken($gris-claro, 10%);
    margin: 0 1em;
    padding: 7px;
    &:last-child {
      border-bottom: none;
    }
  }

  .site-navigation li:hover > a,
  .site-navigation li.focus > a {
    transition: color 0.2s ease;
  }

  .site-navigation ul ul :hover > a,
  .site-navigation ul ul .focus > a {
  }

  .site-navigation ul ul a:hover,
  .site-navigation ul ul a.focus {
  }

  .site-navigation ul li:hover > ul,
  .site-navigation ul li.focus > ul {
  	left: auto;
  }

  .site-navigation ul ul li:hover > ul,
  .site-navigation ul ul li.focus > ul {
  	left: 100%;
  }

  .site-navigation .current_page_item > a,
  .site-navigation .current-menu-item > a,
  .site-navigation .current_page_ancestor > a,
  .site-navigation .current-menu-ancestor > a {
  }

  /* Small menu. */
  .menu-toggle,
  .site-navigation.toggled ul {
  	display: block;
  }

  @media screen and (min-width: $media-desktop-small) {
  	.menu-toggle {
  		display: none;
  	}
  	.site-navigation ul {
  		display: flex;
  	}
  }

  .site-main .comment-navigation,
  .site-main .posts-navigation,
  .site-main .post-navigation {
  	margin: 0 0 1.5em;
  	overflow: hidden;
  }

  .comment-navigation .nav-previous,
  .posts-navigation .nav-previous,
  .post-navigation .nav-previous {
  	float: left;
  	width: 50%;
  }

  .comment-navigation .nav-next,
  .posts-navigation .nav-next,
  .post-navigation .nav-next {
  	float: right;
  	text-align: right;
  	width: 50%;
  }

}