.xp-content {
	background-color: lighten($gris-claro, 4%)
}
.xp-site {
	display: flex;
	flex-direction: column;
  align-items: center;
}
.xp-nav {
	display: flex;
  width: max-content;
  height: max-content;
}
