.feed-historias {
	padding-top: 60px;
	display: flex;
  height: auto;
  width: 100%;
  justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	transition: all 0.5s ease;
	@include media($media-desktop-small) {
		max-width: 100%;
	}
}

.xp-page {
	margin: 0.7em 0.7em;
	width: 290px;
	border-radius: 3px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	align-content: center;
	background-color: white;
	box-shadow: 1px 1px 10px -1px darken($gris-claro, 25%);
	transition: all 0.5s ease;

	.xp-image {
		padding: 20px;
		height: auto;
		width: 100%;
		img {
	    width: 200px;
	    height: 200px;
	    margin: auto;
	    display: block;
	    //margin-top: -100px;
			border-radius: 50%;
		}
	}
	.experiencias-text {
		h2 {
			font-size: 1em;
			color: darken(blue, 30%);
			text-align: center;
			padding: 0 0.9em;
			text-transform: none;
			transition: all 0.2s ease;
			&:hover {
				text-decoration: none;
				color: darken(blue, 15%);
			}
		}	
	}
	.experiencias-content {
		text-align: left;
		font-weight: 200;
		font-size: 0.8em;
		padding: 0 15px;
		a {
			text-decoration: none;
			color: $gris-medio;
			transition: all 0.1s ease;
			&:hover {
				color: $gris-oscuro;
			}
		}
	}

	.experiencias-footer-article {
		display: flex;
    margin-top: auto;
		width: 95%;
		justify-content: space-between;
		border-top: solid 1px darken($gris-claro, 15%);
		padding: 7px;
		span {
			font-size: 11px;
			color: darken($gris-claro, 25%);
		}
		.xp-author-date {
		  display: flex;
	    width: 100%;
	    justify-content: space-between;
		}
	}
}