.feed {
	padding: 0 0.5em;
	@include media($media-desktop-small) {
		padding: 2em 0.5em;
	}
}
.experiencias {
	max-width: 666px;	
}

.noticias {
	max-width: 666px;
}

.content-area {
	transition: transform 0.6s ease;
}

.post-page {
	padding: 1em 0 2em 0;
	
	.post-content {
		font-family: $parrafo;
		font-weight: 500;
		text-align: justify;
		word-wrap: break-word;

		#seguir-leyendo {
			font-style: italic;
			color: purple;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
			i{
				font-size: small;
			}
	}
	}

	article {
		margin-bottom: 2em;
	}
}

.single-experiencias-image {
	padding-bottom: 0;
	display: flex;
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.post-image {
	display: block;
	img {
		display: flex;
		width: 100%;
	}
}

.wp-post-image {
	height: auto;
	width: 100%;
	padding: 0;
	display: flex;
}

.post-title {
	display: flex;
	flex: 80%;
	text-decoration: none;
}

.post-title-link {
	display: flex;
	text-decoration: none;
}

.post-title-info {
	display: flex;
	padding-bottom: 1em;
	border-bottom: solid 1px $gris-claro;
}

.posted-on,
.entry-meta {
	background-color: $gris-medio;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;

	a, 
	a:hover {
		width: 100%;
		text-align: center;
		color: white;
		display: flex;
	}
}

.date-index{ 
	flex: 20%;
	@include media($mobile) {
		flex: 10%;
	}
	justify-content: center;
  margin-right: 2em;
  width: 4em;
  align-content: center;

  a, a:hover {
  	flex-flox: row;
		text-align: center;
		justify-content: space-around;
		align-content: center;
  }

	p {
		margin-bottom: 0.1em;
	}
}

.entry-date-published-month {
		display: flex;
		font-weight: 300;
	}

.entry-date-published-day {
	display: flex;
	flex-flow: row;
	font-size: 45px;
	font-weight: 200;
	width: 65px;
}

.footer-post {
	background-color: $gris-claro;
	color: darken($gris-claro, 30%);
	padding: 0.3em 0.5em;
	font-size: 0.8em;
	justify-content: space-between;
	display: flex;
	margin-bottom: 2em;

	.author-post {
		padding-right: 1em;
	}
	.date-post {
		padding-right: 1em;
	}
	.cat-links {
		padding: 0.2em 0;
		a {
			color: purple;
			text-decoration: none;
			&:hover {
				color: purple;
				text-decoration: underline;
			}
		}
	}

}

/////EXTRA - SINGLE/////

.single {

	.post-title {
			max-width: 100%;
		h2 {
			text-transform: none;
			font-size: 1.8em;
			color: black;
			&:hover {
				text-decoration: none;
			}
		}
	}

	.author-date {
		display: flex;
		flex-direction: column;

		@include media ($media-phone-small) {
			display: flex;
			flex-direction: row;
		}
	}

}