.enfrar-page {
	margin: 0.7em 0.7em;
	width: 550px;
	height: auto;
	border-radius: 3px;
	display: flex;
	flex-direction: column;
	background-color: white;
	box-shadow: 1px 1px 10px -1px darken($gris-claro, 25%);
	transition: all 0.5s ease;

	.enfrar-text {
		display: flex;
		width: 100%;
		a {
			display: flex;
			width: 100%;
		}
		h2 {
			font-size: 1em;
			color: darken(blue, 30%);
			text-align: center;
			padding: 0 0.9em;
			text-transform: none;
			transition: all 0.2s ease;
			&:hover {
				text-decoration: none;
				color: darken(blue, 15%);
			}
		}	
	}
	.enfrar-content {
		#encabezado {
			display: flex;
			flex-direction: column;
			padding: 10px;
			#subtitulos {
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
			}
			#tipo {
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
			}
			h5 {
				margin: 0;
				padding: 0 10px;
				color: black;
				font-weight: 400;
			}
			p {
				margin: 0;
				padding: 0 10px;
			}
		}
		#descripcion {
			display: none;
		}
		text-align: left;
		font-weight: 200;
		font-size: 0.8em;
		padding: 0 15px;
	}
}