.donaciones {
	flex-flow: row wrap;
	#title-page {
		width: 100%;
		padding: 1em;
		display: flex;
	}
	h2 {
		text-transform: initial;
		display: flex;
		justify-content: left;
		font-size: 22px;
		color: black;
		text-decoration: none;
		&:hover {
			text-decoration: none;
		}
	}

	.card-donation {
		width: 250px;
		margin: 1em 2.5em;
		height: 300px;
		display: flex;
		padding: 1em;
		flex-direction: column;
		border-radius: 3px;
		border: 2px solid lighten($morado, 10%);
		background-color: lighten($gris-claro, 10%);
		#icon-area {
			display: flex;
			align-items: center;
			justify-content: center;
			margin: auto;
			img {
				width: 75%;
				height: auto;
			}
		}
		#text-area {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			h3 {
				margin: 0;
				color: black;
				font-weight: 300;
				font-size: 18px;
				text-align: center;
			}
			p{
				justify-content: center;
				font-style: italic;
				color: $gris-medio;
				font-size: 12px;
				text-align: center;
			}
		}
		#button-area {
	    display: flex;
    	justify-content: center;
    	height: 40px;
			#button {
				padding: 0.2em 1em;
		    color: $naranja;
		    text-decoration: none;
		    font-size: 20px;
		    transition: all 0.3s ease;
		    &:hover {
		    	color: white;
		    	background-color: $naranja;
		    }
		    &:focus {
		    	color: $gris-medio;
		    	background-color: white;
		    	border: 1px solid $gris-medio;
		    }
			}
		}
	}

}