.sidebar-area-right {	
		display: none;

		@include media($media-desktop-small) {
			display: flex;
			width: 26%;
			margin-left: auto;
		}

		#subfooter {
		width:100%;
		margin-left:0px;
		margin-right:0px;
		height:300px;
		background-color:#d5d6d7;
		clear:both;
		}
		#subfooter .widget {
		width:33%;
		height:300px;
		padding: 1px ;
		margin-bottom: 0px ;
		}
		#subfooter .widget .inner {
		padding:1px;
		}
		#subfooter .widget li{
		width: 100%;	
		}
	}

/// Ultimas noticias

.widget-area {
	width: 100%;
	font-weight: 300;
	padding-right: 0.5em;

	h2, 
	h2:hover {
		color: $verde-oscuro;
		text-decoration: none;
		font-size: 1.17em;
		padding: 0.8em 0 0;
		border-top: solid 5px $verde-oscuro;
	}
	ul {
		list-style: none;
		padding: 0;
		padding-bottom: 4em;
	}
	li {
		padding: 0.3em 0;
		border-top: solid 1px $gris-medio;
		&:hover {
			background-color: $gris-claro;
		}
		&:last-child {
			border-bottom: solid 1px $gris-medio;
		}
	}
	a,
	a:hover {
		display: block;
		color: $gris-medio;
		text-decoration: none;
		padding-left: 1em;
	}

/// Entradas Populares

	.entradas-populares {
		a {
			padding: 0;
			padding-bottom: 1em;
			color: black;
			font-weight: 400;
		}
		li {
			padding: 0;
			border: none;
			&:hover {
			background-color: transparent;
		}
		}
		img {
			height: auto;
			width: 100%;
		}
		span {
			padding-left: 0;
		}
	}
}

.widget-container {
	width: 100%;
}

.sidebar-feed {
	@include media($media-desktop-small) {
		display: none;
	}
  background-color: transparent;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
  h2 {
  	display: none;
  }
  a, a:hover {
  	display: flex;
  	width: 100%;
  	justify-content: center;
  	font-weight: 300;
  	text-decoration: none;
  }
  ul {
  	padding: 0;
  }
  li {
  	list-style: none;
  	border-bottom: solid 1px $gris-claro;
 		padding: 0.5em 0; 
 		&:hover {
			background-color: $gris-claro;
		}
  }
}
.sidebar-button {
	display: flex;
	background-color: transparent;
	color: lighten($gris-medio, 10%);
	font-weight: 300;
	border: none;
	padding: 0.4em 2em;
	padding-right: 0.5em;
	border-bottom: solid 1px lighten($gris-medio, 15%);
	margin: 1em 0em 1em 0em;
	height: 35px;
	width: 100%;

	@include media($media-desktop-small) {
		display: none;
	}

	i {
		padding: 0.3em 0.6em;
		color: lighten($gris-medio, 10%);
	}
}

/// SIDEBAR - HISTORIAS - ULTIMOS ARTICULOS

.xp-sidebar {
	.servicios-text {
		padding-top: 10px;
		border-top: solid 10px $verde-oscuro;
		color: $verde-oscuro;
		transition: all 0.2s ease;
		&:hover{
			text-decoration: none;
		}
	}
	h2 {
		padding-top: 10px;
		border-top: solid 10px darken(blue, 30%);
		color: darken(blue, 30%);
		transition: all 0.2s ease;
		&:hover{
			text-decoration: none;
		}
	}
	ul {
		margin: 0;
		padding: 0;
	}
	li {
		width: 100%;
		display: flex;
		margin: 0;
		border-top: solid 1px darken($gris-claro, 15%);
	}
	a {
		padding: 13px 0;
		text-decoration: none;
		width: 100%;
		height: 100%;
		font-weight: 200;
		&:hover {
			color: darken(blue, 30%);
		}
		span {
			margin: 0;
			display: block;
			width: 100%;
			height: 100%;
			font-weight: 200;	
		}
	}
}