.sub-header-contact-page {
	display: flex;
	transition: all 1.5s ease;
	width: 100%;
  height: 260px;
  z-index: 1;
  background-color: $naranja;

	#page-title {
		position: absolute;
		max-width: 1024px;
	  margin-left: 0;
		padding: 170px 0.5em 0.5em;
		h2, &:hover {
			text-decoration: none;
			color: white;
		}

		@include media ($tablet) {	
			padding: 170px 5em 0.5em;
		}
	}
}


	.sub-header-image-container-contact-page {
		display: flex;
		transition: all 1.5s ease;
	  position: absolute;
	  right: 0;
	  height: 260px;
  	width: 400px;
	  flex-direction: row-reverse;
	}
	.sub-header-image-contact-page {
		display: flex;
		transition: all 1.5s ease;
		position: absolute;
		right: 0;
    height: 260px;
  	width: 400px;
		filter: opacity(0);  	
	  box-shadow: inset 100px 0 150px $naranja;
	}
	

	//Hidden/Show Fuctions
	.show-complet {
		filter: opacity(1);
	}
	.show-image-sub-header {
		transition: all 1.5s ease;
		filter: opacity(.5);
	}
	.slide-sub-header-contact-page {
		transition: all 1.5s ease;
		width: 100%;
		height: 420px;
		@include media($tablet) {
			height: 445px;
		}
	}
	.slide-sub-header {
		transition: all 1.5s ease;
		width: 550px;
		height: 420px;
		@include media($tablet) {
			width: 800px;
			height: 445px;
		}
	}