.site {
	position: fixed;
	width: 100%;
	margin: 0;
}

.sub-header {
	transition: transform 0.6s ease;
	width: 100%;
  height: 260px;
  background-color: $verde-claro;
  img {
		display: flex;
		align-items: flex-end;
  }
}

.sub-header-image-container {
	display: flex;
  position: absolute;
  right: 0;
  height: 177px;
  width: 400px;
  margin-top: 83px;
  flex-direction: row-reverse;
}

.sub-header-blur-div {
	display: flex;
	position: absolute;
	right: 0;
  height: 177px;
  width: 400px;
  box-shadow: inset 150px 0 150px $verde-claro;
}

.wp-sub-header-image {
	display: flex;
	transition: all 1.5s ease;
	filter: grayscale(90%);
	filter: opacity(0);
}

#page-title {
	position: absolute;
	max-width: 1024px;
  margin-left: 0;
	padding: 170px 0.5em 0.5em;
	h2, &:hover {
		text-decoration: none;
		color: white;
	}

	@include media (1200px) {	
		padding: 170px 5.5em 0.5em;
	}
}

.show-wp-sub-header-image {
	filter: opacity(.5) grayscale(.9);
}